.lattice{
	border-width: medium;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: solid;
	padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}
h2{
	text-align: center;
}
table{
	position: absolute;
	top: 20%;
	left: 30%;
}
body{
	margin-top: 1.5cm;
}