<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible', content='IE=edge'>
    <meta name='viewport', content='width=device-width, initial-scale=1'>
    <title>井字遊戲</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="ui container" id="app" v-cloak>
        <h2>{{winner}}</h2><!-- style="text-align:center" -->
        <table>
            <tr v-for="r in rows">
                <td class="stackable lattice" v-for="column in columns" v-bind:id="column.column + r.row" v-on:click="choose(column.column + r.row)"></td>            
            </tr>
        </table>
        <div><button class="ui primary button" v-on:click="restart">restart</button></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>